.accordion {
    background-color: $gray;
    cursor: pointer;
    padding: 18px !important;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    line-height: 1.3;
    font-size: 18px;

    &__wrapper {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;

        .panel {
            padding: 0 18px;
            background-color: $white;
            max-height: 0;
            overflow: hidden;
            transition: 0.3s ease-in-out;
            min-height: 4.5rem;
            opacity: .3;
            display: inline-block;

            a {
                transition: all ease .3s;
                color: $red;
            }

            &.is-visible {
                opacity: 1;
                min-height: fit-content;
                max-height: none;
            }
        }
    }

    &.is-active, &:hover {
        background-color: darken($gray, 5%);
    }

    &.is-active {
        &:after {
            content: '\f068';
        }
    }

    &:after {
        content: '\f067';
        font-family: 'Font Awesome 5 Free';
        font-size: 13px;
        color: $red;
        float: right;
        margin-left: 5px;
    }
}