//you will have to overwrite all the standard acf styles with !important - MKAAY playboy!?

.acf-fields>.acf-field {
	padding-right: 0!important;
	padding-left: 0!important;
}

.acf-label > .description {
	display: none!important;
}

.acf-field-5cf50ecf08edc {
	display: none;
}

//hide editor buttons
#mceu_67, #mceu_66-button, 
#qt_acf-editor-30_more, #qt_acf-editor-30_code, 
#qt_acf-editor-30_img, #qt_acf-editor-30_ins,  
#qt_acf-editor-30_close, #qt_acf-editor-30_del {
	display: none; 
}