.archive {

	&__filter {
		@include above (sm) {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		&--title {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;

			@include above (sm) {
				margin: 0;
			}
		}
	}

	&__select {
		-webkit-appearance: none;
		border: 1px solid $red;
		border-radius: 0px;
		padding: .8rem;
		font-size: 13px;
		letter-spacing: .1rem;
		text-transform: uppercase;
		padding-right: 2rem;
		width: 100%;
		background: transparent;

		&--wrapper {
			position: relative;
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;

			@include above (sm) {
				margin-top: 0;
				margin-bottom: 0;
			}

			&:after {
				content: '\f107';
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				position: absolute;
				right: 1rem;
				top: 50%;
				transform: translateY(-50%);
				font-size: 12px;
				pointer-events: none;
			}
		}
	}

	&__header {
		margin-top: 0;
	}

	&__item {
		padding-bottom: 1rem;
		position: relative;

		&:before, &:after {
			content: '';
			position: absolute;
			bottom: 0;
			height: 1px;
			transition: all .6s $easeInOutQuint;
		}

		&:before {
			width: 100%;
			background: $gray-dark;
		}	

		&:after {
			width: 0;
			background: $red;
		}

		&:hover {
			
			&:after {
				width: 100%;
			}
		}

		&:first-child {
			
			.archive__title {
				margin-top: 0;
			}
		}
	}

	&__title {
		font-family: $custom-font-body;
		font-weight: 700;
		color: $color-font-body;
		transition: all ease .3s;

		&:hover {
			color: $red;
		}
	}

	&__body {
		color: lighten($color-font-body, 25%);
	}

	&__meta {
		font-size: 15px;
		margin-bottom: 1.5rem;

		&--link {
			color: $red;
			font-weight: 600;
		}

		strong {
			font-weight: 600;
		}
	}

	&__btn {

		&:hover {
			cursor: pointer;
		}
	}
}