.footer {

	@include above (sm) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	@include above (md) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	&__item {

		.fas {
			color: $red;
		}
		
		p:last-child() {
			@include above (sm) {
				margin-bottom: 0;
			}
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}
	}

	&__title {
		@include above (sm) {
			margin-top: 0;
		}
	}
}


#overlay {
	cursor: pointer;

	&.is-visible {
		&:after {
			content: '';
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    background: rgba($black, .5);
		    top: 0;
		    left: 0;
		    z-index: 50;
		    transition: all ease .6s;
		}
	}
}