/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding-bottom: 1rem;
  padding-top: 1rem;

  @include above (sm) {
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
  
  &__logo {
    display: block;
    float: left;

    img {
      width: 180px;
      height: 17px;

      @include above (sm) {
        width: 249px;
        height: 24px;
      }
    }
  }
}