//ie fallback
.is-edge, .is-ie {

  .page__hero {
    position: relative;

    &:before {
      background: $blue;
      opacity: 0.8;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
  }

  .nav__img { 

    &:before {
      background: $blue;
      opacity: 0.8;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      position: absolute;
    }
  }
}