/********************LAYOUTS********************/

/* Base Styles */
.blue--bg, .red--bg {
  color: $white;
}

.gray--bg  {
  
  .accordion {
    background: $white;
  }

  .panel {
    opacity: .1;
  }
}

.none--bg {

  .link-boxes__btn {
    color: $color-font-body;

    &:hover {
      color: $white;
    }
  }
}


/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {
      margin-top: 0;
  }

  &__col {

    .fas, span {
      color: $red;
    }

    a {
      color: $color-font-body;
      transition: all ease .3s;

      &:hover {
        color: $red;
      }
    }

    @include above (sm) {
        &.first {

          p:last-child {
            margin-bottom: 0;
        }
      }
    }
	
    &.last {

      p:last-child {
    	  margin-bottom: 0;
      }
    }

    @include below (sm) { 
      &--1 {
      
        h1, h2, 
        h3, h4, 
        h5, h6 {
          margin-top: 0;
        }
      }
    }

    &--3, &--4,
    &--5, &--6 {
      padding-top: 3rem;
    }
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
      padding-bottom: 6rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}