.link-boxes {
 
	&__header {
		margin-top: 0;
		margin-bottom: 1.5rem;

		@include above (sm) {
			margin-bottom: 3rem;
		}
	}

	&__item {
		padding-bottom: 1.5rem;

		@include above (sm) {
			padding-bottom: 3rem;
		}

		@include between (sm, md) {
			width: 50%;
			margin-bottom: 1.5rem;
			margin-top: 1.5rem;
		}
	}

	&__icon {
		
	}

	&__title {
		@include below (sm) {
			margin-top: 1.5rem;
		}
	}

	&__btn {
		@include above (sm) {
			position: absolute;
			bottom: 0;
		}
	}
}
