/**
 * Navigation
 **/

.nav {

	/**
	 * Mobile menu panel
	 **/

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 0px;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			// width: 50%;
			height: 100%;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	&__item {
		list-style: none;
		padding: 1rem .5rem;
		position: relative;
		opacity: 0;
		overflow: hidden;

		&:before {
			position: absolute;
			width: 100%;
			height: 100%;
			background: $blue;
			content: '';
			pointer-events: none;
			left: 0;
			top: 0;
			z-index: 100;
		}	

		&.is-active > a {
			color: $red;
		}

		&.is-animated {
			transition: all .6s $easeInOutQuint;
			opacity: 1;
			transition-delay: .3s;

			&:before {
				transition-delay: .3s;
				transition: all .6s $easeInOutQuint; 
				height: 0;
				bottom: 0;
			}

			@include above (sm) {
				transition-delay: .6s;

				&:before {
					transition-delay: .6s;
				}
			}
		}
	}

	&__link {
		color: $white;
		font-weight: 700;
		font-size: 15px;
		font-family: $custom-font-headings;
		transition: all ease .3s;

		&:hover {
			color: $red;
		}

		@include above (sm) {
			font-size: 22px;
		}
	}

	&__dropdown {
		display: none;
		padding: 0;
		position: absolute;
		top: 100%;
		background: red;

		&.is-visible {
			display: block;
		}

		li {
			padding: 0;
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;

			&:hover {
				text-decoration: none;
			}
		}
	}
	

	&--mobile {
		position: fixed;
		z-index: 78888;
		top: 0;
		right: 0;
		height: calc(100% - 0px);
		width: 100%;
		transform: translateX(100%);
		transition: all .8s $easeInOutQuint;
		background: $blue;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		@include above (sm) {
			width: 35rem;
		}

		&.is-open {
			transform: translateX(0);
		}
		
		@at-root {
			// Set body to fixed		
			body.is-fixed {			
				overflow: hidden;
				position: fixed;
				width: 100%;
				height: 100%;			
			}
		}
	}


	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include below (sm) {
			top: 50%;
			right: 1rem;
			transform: translateY(-49.9%);
		}

		@include above (sm) {
			position: relative;
		}

		&__label {
			color: $white;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $white;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $white;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.45rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}