.package-deals {

	&__header {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	&__intro {
		margin-bottom: 1.5rem; 
	}

	&__item {
		background: $white;
		color: $color-font-body;
		border-radius: .2rem;
		overflow: hidden;
		box-shadow: 0 5px 5px rgba($black, .1);

		@include below (sm) {
			margin-left: 1rem;
			margin-right: 1rem;
		}
	}

	&__table-header {
		background: $blue;
		color: $white;
		width: calc(100% + 2rem);
		position: relative;
		left: -1rem;
		padding: 1rem;
	}

	&__table-title {
		margin-top: 0;
		margin-bottom: 0;
	}

	&__content {
		padding: 1rem;

		@include above (md) {
			padding: 1.5rem;			
		}
	}
}