.page {

  	&__hero {
  		background: no-repeat center center $blue;
  		background-size: cover;
  		position: relative;
  		background-blend-mode: multiply;
  		position: relative;

    		&:before {
    			background: url('../img/paragraph-symbol.png') no-repeat center center;
    			content: '';
    			position: absolute;
    			width: 100%;
    			height: 100%;	
    			z-index: 1;
    			opacity: .24;
    			top: 0;
  		}
  	}

  	&__title {
  		color: darken($gray, 8%);
  		position: relative;
  		z-index: 10;
      text-decoration: underline;
  	}

    &__meta {
      color: $red;
      font-weight: 700;
    }
}