.pagination {
	margin-top: 1.5rem;

	&__pages, &__icons,
	.page-numbers {
		color: $color-font-body;
		transition: all ease .3s;
		font-weight: 600;

		&:hover {
			color: $red;
		}
	}

	.current {
		color: $red;
	}

	&__previous {
		margin-right: 1rem;
	}

	&__next {
		margin-left: 1rem;
	}
}