.quicklinks {

	&__item {
		color: $color-font-body;
		position: relative;

		@include below (sm) {
			width: 100%;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			width: calc(100% - 2rem);
			height: 2px;
			background: darken($gray, 10%);
			left: 1rem;
			transition: all .6s $easeInOutQuint;
		}

		&:hover::after {
			width: 0;
		}
	}

	&__link {

		.fas {
			color: $red;
		}
	}
}