.single {

	&__item {

	}

	&__header {

	}

	&__title {
		margin-top: 0;
		font-family: $custom-font-body;
	}

	&__question {
		padding-bottom: 1rem;
	}

	&__answer {

		strong {
			display: block;
			padding-bottom: 1rem;
		}
	}
}