.slider {

	&__list {

	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center $blue;
		background-size: cover;
		background-blend-mode: multiply;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 35rem;

			@include above (sm) {
				padding-bottom: 40rem;
			}

			@include above (md) {
				padding-bottom: 45rem;
			}

			@include above (lg) {
				padding-bottom: 50rem;
			}
		}

		&:after {
			background: url('../img/paragraph-symbol.png') no-repeat center center;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;	
			z-index: -1;
			opacity: .24;
		}
	}

	&__container {

	}

	&__title {
		color: darken($gray, 8%);  
		margin-top: 0;
		margin-bottom: 3rem;
	}

	&__text {
		color: $white;
	}

	&__scroll {
		position: absolute;
		bottom: 0;
		color: $white;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: .1rem;

		&--mousepad {
			border: 1px solid $red;
			width: 1.2rem;
			height: 1.8rem;
			display: block;
			border-radius: 2.5rem;
			position: relative;

			&--anim {
				width: .1rem;
				height: .1rem;
				background: $white;
				border-radius: 50%;
				display: inline-block;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: .5rem;
				animation: slide;
				animation-iteration-count: infinite;
				animation-duration: 1.2s;
			}
		}

		&--text {
			padding-top: .5rem;
		}
	}
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}