@import "config/easings";

.btn {
	display: inline-block;
	padding: .6rem 2.5rem;
	text-transform: uppercase;
	position: relative;

	&--hollow {
		border: $red solid 1px;
		color: $white;
		font-size: 14px;
		letter-spacing: .1rem;

		span {
			z-index: 10;
			position: relative;
		}

		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 0;
			bottom: 0;
			right: 0;
			z-index: 0;
			background: $red; 
			transition: all .6s $easeInOutQuint;
		}

		&:hover {
			color: $white;
			
			&:before {
				top: 0;
  				height: 100%;
			}
		}

		&--default-text {
			color: $color-font-body;
		}
	}

	&--icon {
		text-transform: uppercase;
		letter-spacing: .1rem;
		font-weight: 600;
		font-size: 14px;
		color: $color-font-body;

		.fas {
			color: $red;
			margin-left: .5rem;
			transition: all .6s $easeInOutQuint;
		}

		&:hover {
			.fas{
				margin-left: .8rem;
			}
		}
	}
}